node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
google-services.json
.env
bun.lockb
config.toml
yarn.lock
package-lock.json
extensions.json
GoogleService-Info.plist

# macOS
.DS_Store

ios
android

.env*
!.env.example
